*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(31, 31, 31);
}

button{
    border: none;
    border-radius: 3px;
    color: white;
}

.calculator{
    display: grid;
    grid-template-columns: [calculation-section]1fr [memory-section]300px;
}

.screen{
    display: flex;
    height: 12rem;
    color: white;
}

.inputButtons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 70vh;
    gap: 3px;
}

.memory-section{
    display: flex;
    gap: 1rem;
}

[special-key]{
    background-color: rgb(44, 44, 44);
    font-size: 0.9rem;
}

[operators]{
    background-color: rgb(44, 44, 44);
    font-size: 1.5rem;
}

[operands]{
    background-color: rgb(54, 54, 54);
    font-size: 1rem;
}

[equals]{
    background-color: gray;
    font-size: 1.5rem;
    color: black;
}

[special-key]:hover, [operators]:hover{
    background-color: rgb(54, 54, 54);
}

[operands]:hover{
    background-color: rgb(44, 44, 44);
}

[equals]:hover{
    opacity: 0.8;
}